In [10]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import seaborn as sns


df = sns.load_dataset('tips')

le = preprocessing.LabelEncoder()
df.day = le.fit_transform(df.day)
df.sex = le.fit_transform(df.sex)
df.smoker = le.fit_transform(df.smoker)
df.time = le.fit_transform(df.time)

df

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [11]:
X = df.drop('tip', axis=1)
y = df['tip']

X_train, X_test, y_train, y_test = train_test_split(X, y)

regressor = xgb.XGBRegressor(
    n_estimators=100, reg_lambda=1, gamma=0, max_depth=3)

regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
print(y_pred)
print(mean_squared_error(y_test, y_pred))

[1.0965375 2.2743542 3.159487  1.9579173 2.840319  3.222782  4.6976047
 2.8445802 3.1399937 3.7188709 2.3304923 1.9362402 2.1729867 2.508878
 2.8546538 4.43341   2.1337726 3.3362913 3.2532976 2.653097  4.664817
 1.7186959 2.7716339 2.0405345 3.0996423 2.6965027 3.6208274 3.0644445
 3.0313911 7.1236978 3.222782  3.015699  1.7515224 4.7323103 2.8126776
 2.1729867 2.8887267 5.222352  1.9537529 1.4151014 1.7515224 2.1448028
 4.245936  1.7525213 2.4648561 2.0118492 3.2814612 3.0130534 1.9798924
 2.6886244 2.5947695 3.7681816 4.0494266 2.768751  2.2286806 2.918796
 1.5091707 2.0118492 3.9247222 2.6232774 3.1091163]
1.1441169447530435